*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 30px;
}
.fiorello{
    width: 300px;
    height: 35px;   
}
.searchbox{
    display: flex;
    gap: 25px;
    padding-right: 30px;
}
nav{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
button{
    border: none;
    background-color: white;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;

}
.navDiv{
    display: none;
    position: absolute;
    bottom: -270px;
    background-color: rgba(248, 137, 229, 0.22);
    width: 200px;
    height: 250px;
    padding-top: 10px;
    gap: 20px;
}
.navbar:hover .navDiv{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navDiv ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; 
    font-size: 18px;
    color: #8B8B8B;
}
.flower{
margin-top: 30px;
width: 100%;
height: 740px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
}
.flowerrr{
   width: 100%;
   height: 740px;
}